<!DOCTYPE html>
<html>
<head>
    <title>Random Link - Randomly redirect to a list of urls</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>

    <link href='/css/reset.css' rel='stylesheet' type='text/css'>
    <link href='/css/main.css' rel='stylesheet' type='text/css'>

    <script src="/javascript/jquery.js"></script>
</head>
<body>