<!DOCTYPE html>
<html>
<head>
    <title>Random Link</title>

    <link href='/css/reset.css' rel='stylesheet' type='text/css'>
    <link href='/css/main.css' rel='stylesheet' type='text/css'>
</head>
<body>

<div id='main_container'>
