<!DOCTYPE html>
<html>
<head>
    <title>Random Link</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <link href='/css/reset.css' rel='stylesheet' type='text/css'>
    <link href='/css/main.css' rel='stylesheet' type='text/css'>

    <script src="/javascript/jquery.js"></script>
</head>
<body>

<div class="table width_height_100">
    <div class="table_row">
        <div class="table_cell vertical_center center_text">
            <div id='main_container'>