<%= include templates/header %>

<h1>
    Link Randomizer
</h1>
<h2>
    Creates a link that will randomly redirect to a list of other links
</h2>

<div id="create_container">
    <div id="links">
        Links to redirect to:<br/>
        Link: <input type="text" class="link" /><br/>
        Link: <input type="text" class="link" /><br/>
        Link: <input type="text" class="link" /><br/>
        Link: <input type="text" class="link" /><br/>
        Link: <input type="text" class="link" /><br/>
    </div>

    <div id="">
        http://rndmlnk.com/s/<input type="text" placeholder="optional"/>
    </div>

    <div id="create_button">
        Create Link
    </div>
</div>

<%= include templates/footer %>
